@import "./grid.scss";
@import "./hover.scss";

:root {
    --main: #0073e6;
    --light: #e6f2ff;
    --dark: #000d1a;
    --background-light: #fff;
    --background-dark: #001a33;
    --box-shadow: 2.5px 5px 10px -5px #222;
    --border: 1px solid rgba(#888, 0.5);
}

* {
    margin: 0;
}

svg {
    cursor: pointer;
}

svg:hover {
    color: var(--main);
}

div {
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
}

.minHeight100vh {
    min-height: 100vh;
}

.light {
    background-color: var(--light);
    color: var(--dark);
}

.background_light {
    background-color: var(--background-light) !important;
}

.background_dark_005 {
    background-color: rgba(black, 0.05);
}

.background_dark_025 {
    background-color: rgba(black, 0.25);
}

.dark {
    background-color: var(--dark);
    color: var(--light);
}

.background_dark {
    background-color: var(--background-dark) !important;
}

.scroll_none::-webkit-scrollbar {
    display: none;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}

.overFlowXHidden {
    overflow-x: hidden;
}

.transition1_2s {
    transition: all 0.5s;
}

.boxShadow {
    box-shadow: var(--box-shadow);
}


.borderBox {
    border: var(--border);
}

.archive {
    width: calc(100vw - 70px);
    transition: all 0.5s;
    min-height: calc(100vh - 50px);
    margin: 0 10px;
    border-radius: 5px;
}

.dangerousBox {
    font-size: 15px !important;
    overflow: hidden;

    p {

        span {
            line-height: 1.5;
            font-size: 15px !important;
            font-family: '__Roboto_Mono_c9cbed', '__Roboto_Mono_Fallback_c9cbed' !important;
        }
    }


    img {
        width: 100% !important;
    }
}

.archiveOpen {
    width: calc(100vw - 50px);
    transition: all 0.5s;


    @media (min-width:768px) {
        width: calc(100vw - 200px);
    }

}

.stickyBox {
    position: relative;

    @media (min-width:768px) {
        position: sticky;
    }
}

.menu {
    width: calc(50px);
    transition: all 0.5s;
    overflow: hidden;

    p {
        display: none;
    }
}

.menuOpen {
    width: calc(200px);
    transition: all 0.5s;

    p {
        display: block;
    }
}